
.profile-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cover-photo img {
    width: 100%;
    height: 200px;
    display: block;
}
.active{
    background-color: gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.profile-photo {
    position: absolute;
    bottom: -50px;
    /*Adjustthisvaluetopositiontheprofilephoto*/left: 20%;
    transform: translateX(-50%);
    border: 5px solid white;
    /*Optional:;
    borderaroundtheprofilephoto*/border-radius: 50%;
    /*Makestheprofilephotocircular*/overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.profile-photo img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    object-fit: cover; /* Ensures the image covers the circle */
    border-radius: 50%;
}